

.sign-in-container {
    text-align: center;
    height: 500px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 5%;
    background-image: url('../../Images/login-image.jpg');
    background-size: cover;
    
  }

#signup-label{
    font-weight: bold;
}
  
  input {
    border: 1px solid green;
    height: 25px;
    width: 300px;
  }
  
  #sign-up-el {
    margin-bottom: 10px;
    margin-top: 10%;
    color: white;
    background-color: black;
    width: 150px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 20px;
  }
  
  #error-el {
    color: red;
    font-weight: bold;
  }