.landing-img{
    width:100%;
    height: 500px;
}

.company-details{
    position: relative;
    text-align: center;
    color: white;
}

.text-container{
    width: 300px;
}

.text-1 {
    position: absolute;
    top: 30%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 30px;
}

.text-2 {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 50px;
}

.text-3 {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 50px;
}